.result-container{
    width:90%;
    padding: 5%;
    background-color: var(--brand-color-1);

}

.result-container>p{
    font-size: large;
    line-height: 200%;
    text-align: justify;
}

.table{
    display: grid;
    grid-template-columns: 25% 75%;

}